<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TreeHacks 2021 - Reddit Analysis</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<body>

<div class="center">
    <h1>
        Reddit Analysis for topic: {{ topic }}
    </h1>

    <pre>
        Returned data: {{ data }}
        Positive Score: {{ data[0][topic][0]['TOPIC POS'] }}
        Negative Score: {{ data[0][topic][0]['TOPIC NEG'] }}
        Neutral Score: {{ data[0][topic][0]['TOPIC NEU'] }}
        Sentiment: {{ data[0][topic][0]['SENTIMENT'] }}
        Volatility: {{ data[0][topic][0]['VOLATILITY'] }}
        Trends over time: {{ data[1] }}
    </pre>


</div>


</body>
</html>
